/*Colocando cor no titulo e fazendo margem*/

* {
    padding: 5;
    margin: 5;
    font-family: 'Work Sans', sans-serif;
}
header {
    background: linear-gradient(#403df2,#40e0d0,#6bb7c4);
    padding: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style:none;
    gap: 15px;
    font-size: 18px;
}

a {
    text-decoration: none;
}



body{
    background-color: antiquewhite;
}

footer{
    background: linear-gradient(#403df2,#40e0d0,#6bb7c4);
    padding: 30px 0 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}